<%- include('../partials/header')%>

<h2>EDIT EXERCISE</h2>
<form action="/exercises/<%=exercise._id%>?_method=PUT" method="POST">
  <label
    >Date: <input type="date" name="date" value="<%=exercise.date%>" /> </label
  ><br />
  <label
    >Day
    <select name="day" id="day" value="<%=exercise.day%>">
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select> </label
  ><br />
  <label
    >Body Part
    <select name="bodyPart" id="Bodypart" value="<%+exercise.bodyPart%>">
      <option value="Upper Body">Upper Body</option>
      <option value="Lower Body">Lower Body</option>
    </select> </label
  ><br />
  <button type="submit">UPDATE EXERCISE</button>
</form>

<%- include('../partials/footer')%>
