<%- include('../partials/header')%>

<h2>EXERCISE LIST</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Day</th>
      <th>Body Part</th>
    </tr>
  </thead>
  <tbody>
    <% exercises.forEach(function(e) { %>
    <tr>
      <td><%= e.date?.toLocaleDateString()%></td>
      <td><%= e.day%></td>
      <td><%= e.bodyPart%></td>
      <td><a href="/exercises/<%= e._id%>">DETAILS</a></td>
      <td>
        <form
          action="/exercises/<%= e.id%>?_method=DELETE"
          method="POST"
          class="delete"
        >
          <button type="submit">x</button>
        </form>
      </td>
      <td><a href="/exercises/<%= e._id%>/edit">Edit Exercise</a></td>
    </tr>

    <% })%>
  </tbody>
</table>

<%- include('../partials/footer')%>
