<%- include('../partials/header')%>

<h2>EXERCISE LIST</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Day</th>
      <th>Body Part</th>
    </tr>
  </thead>
  <tbody>
    <% exercises.forEach(function(e) { %>
    <tr>
      <td><%= e.date?.toLocaleDateString()%></td>
      <td><%= e.day%></td>
      <td><%= e.bodyPart%></td>
      <td><a href="/exercises/<%= e._id%>"></a>DETAILS</td>
    </tr>

    <% })%>
  </tbody>
</table>

<%- include('../partials/footer')%>
