<%- include('../partials/header')%>

<h2 class="header">EXERCISE LIST</h2>
<table class="exercise-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Day</th>
      <th>Body Part</th>
    </tr>
  </thead>
  <tbody>
    <% exercises.forEach(function(e) { %>
    <tr>
      <td><%= e.date?.toLocaleDateString()%></td>
      <td><%= e.day%></td>
      <td><%= e.bodyPart%></td>
      <td><a href="/exercises/<%= e._id%>" class="details-link">DETAILS</a></td>
      <td>
        <form
          action="/exercises/<%= e.id%>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
          <button type="submit" class="delete-button">x</button>
        </form>
      </td>
      <td><a href="/exercises/<%= e._id%>/edit" class="edit-link">Edit</a></td>
    </tr>

    <% })%>
  </tbody>
</table>

<%- include('../partials/footer')%>
